{% extends "matkul/base.html" %}
{% load static %}
{% block content %}



 <div class="container py-5">
    <h3>{{ object.nama}}</h3>
    <p> {{ object.deskripsi }} </p>
    <table class="table">
        <tr class="table-info">
            <th>Kurikulum</th>
            <th>Mata Kuliah</th>
            <th>Dosen Pengajar</th>
            <th>Jumlah SKS</th>
            <th>Ruang</th>
        </tr>
        <tr>
            <td>{{ object.semester }}</td>
            <td>{{ matkul.nama }}</td>
            <td>{{ object.dosen }}</td>
            <td>{{ object.jumlahSKS }}</td>
            <td>{{ object.ruang }}</td>
        </tr>
    </table>
    <a class="btn btn-outline-danger" href="{% url 'matkul-delete' object.id %}">Remove Matkul</a>
 </div>

{% endblock %}
