{% extends "matkul/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container py-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Matkul</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Add Matkul</button>
            </div>
        </form>
    </div>
{% endblock content %}
