{% extends "matkul/base.html" %}
{% block content %}
    <div class="container py-5">
        <h3>{{object.nama}}</h3>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Matkul</legend>
                <h3>Are you sure you want to delete the matkul "{{object.nama}}"</h3>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit"> Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'matkul-detail' object.id %}"> Cancel </a>
            </div>
        </form>
    </div>
{% endblock content %}
