{% extends "matkul/base.html" %}
{% load static %}
{% block content %}


 <div class="container py-5">
    <h1>Mata Kuliah</h1>
    <div class="box1">
        <table class="table">
            <tr class="table-info">
                <th>Kurikulum</th>
                <th>Mata Kuliah</th>
                <th>Dosen Pengajar</th>
                <th>Jumlah SKS</th>
                <th>Ruang</th>
            </tr>
            {% for matkul in object_list %}
            <tr class="table-hover">
                <td>{{ matkul.semester }}</td>
                <td><a href="{% url 'matkul-detail' matkul.id %}" >{{ matkul.nama }}</a></td>
                <td>{{ matkul.dosen }}</td>
                <td>{{ matkul.jumlahSKS }}</td>
                <td>{{ matkul.ruang }}</td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
    
    <a class="btn btn-outline-info" href="{% url 'matkul-add' %}"> Add new Matkul </a>
 </div>
{% endblock %}