{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href='https://fonts.googleapis.com/css?family=Titillium Web' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Sora' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>Story 4</title>
</head>
<body>  
        <nav class="navbar">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo"> <span>HANIF</span>ANGGAWI</label>
            <ul>
                <li><a href="{% url 'profile' %}">About</a></li>
                <li><a href="{% url 'fitur' %}">Artwork</a></li>
                <li><a href="{% url 'story1' %}">Story1</a></li>
                <li><a href="{% url 'matkul-home' %}">Story5</a></li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}
        
</body>
</html>