{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="container1">
    <h2>ARTWORK</h2>
</div>

<div class="container2">
    <div class="artwork-group">
        <img src="{% static 'images/MAUNG.svg' %}" alt="">
        <img src="{% static 'images/KIPAS2.svg' %}" alt="">
        <img src="{% static 'images/PORTRAIT.png' %}" alt="">
    </div>
</div>

<!-- contact me -->
<div class="container3">
    <div class="contact-group">
        <span>CONTACT ME:</span>
        <div class="contact-logo">
            <a href="https://www.instagram.com/hanifanggawi/"><img src="{% static 'images/INSTAGRAM.svg' %}" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/hanifanggawi/"><img src="{% static 'images/LINKEDIN.svg' %}" alt="LinkedIn"></a>
            <a href="https://line.me/en-US/"><img src="{% static 'images/LINE.svg' %}" alt="Line"></a>
        </div>
    </div>
</div>


{% endblock %}