{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="container1">
    <div class="box1">
        <img src="{% static 'images/Hanif Tinted Blue.png' %}" alt="foto">
    </div>
    <div class="box2">
        <h1>HANIF ANGGAWI</h1>
        <h4>Fasilkom UI 2019</h4>
        <img src="{% static 'images/DIVIDER.svg' %}" alt="">
        <P>Saya adalah mahasiswa Fasilkom UI 2019 jurusan Ilmu Komputer dengan interest di Tech, Desgin, dan Gaming</P>
    </div>
</div>

<div class="container2">
    <div class="box3">
        <h2>Pendidikan</h2>
        <div class="pendidikan-group">
            <img src="{% static 'images/BULLETS.svg' %}" alt="">
            <div class="pendidikan-box">

                <div class="pendidikan-baris">
                    <div class="pengalaman-text"> 
                        <span class="institut">SD LAZUARDI CINERE</span><br>
                        <span class="tahun">2007 - 2013</span>
                    </div>     
                </div>

                <div class="pendidikan-baris">
                    <div class="pengalaman-text"> 
                        <span class="institut">SMP LAZUARDI JAKARTA</span><br>
                        <span class="tahun">2013 - 2016</span>
                    </div>     
                </div>

                <div class="pendidikan-baris">
                    <div class="pengalaman-text"> 
                        <span class="institut">SMAN 34 JAKARTA</span><br>
                        <span class="tahun">2016 - 2019</span>
                    </div>     
                </div>

                <div class="pendidikan-baris">
                    <div class="pengalaman-text"> 
                        <span class="institut">UNIVERSITAS INDONESIA</span><br>
                        <span class="tahun">2019 - SEKARANG</span>
                    </div>     
                </div>
                
            </div>

        </div>

    </div>
    <div class="box4">
        <h2>Pengalaman</h2>
        <div class="pengalaman-box">
            <div class="pengalaman-baris">
                <img class="logo" src="{% static 'images/COMPFEST.svg' %}" alt="">
                <div class="pengalaman-text"> 
                    <span class="institut">COMPFEST 12</span> <span class="jabatan"> - STAFF OF VISUAL DESIGN</span> <br>
                    <span class="tahun">2020 - SEKARANG</span>
                </div>     
            </div>

            <div class="pengalaman-baris">
                <img class="logo" src="{% static 'images/FUKI.svg' %}" alt="">
                <div class="pengalaman-text"> 
                    <span class="institut">FUKI 2020</span> <span class="jabatan"> - WAKIL KETUA DIVISI MEDIA</span> <br>
                    <span class="tahun">2020 - SEKARANG</span>
                </div>     
            </div>

            <div class="pengalaman-baris">
                <img class="logo" src="{% static 'images/BETIS.svg' %}" alt="">
                <div class="pengalaman-text"> 
                    <span class="institut">BETIS 2020</span> <span class="jabatan"> - STAFF OF CRATIVE</span> <br>
                    <span class="tahun">2019 - 2020</span>
                </div>     
            </div>
        </div>

        
    </div>
</div>

    <!-- contact me -->
    <div class="container3">
        <div class="contact-group">
            <span>CONTACT ME:</span>
            <div class="contact-logo">
                <a href="https://www.instagram.com/hanifanggawi/"><img src="{% static 'images/INSTAGRAM.svg' %}" alt="Instagram"></a>
                <a href="https://www.linkedin.com/in/hanifanggawi/"><img src="{% static 'images/LINKEDIN.svg' %}" alt="LinkedIn"></a>
                <a href="https://line.me/en-US/"><img src="{% static 'images/LINE.svg' %}" alt="Line"></a>
            </div>
        </div>
    </div>


{% endblock %}